.wiki-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .wiki-button {
    background-color: #0c1331;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .wiki-button:hover {
    background-color: #141a3a;
  }
  
  .wiki-icon {
    color: white;
  }
  
  .wiki-input {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  